URxvt.termName: rxvt-unicode
URxvt.font: xft:SauceCodePro Nerd Font Mono:size=12
URxvt.letterSpace: -1
URxvt.lineSpace: -1
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.meta8: true
URxvt.perl-ext-common: default,matcher,resize-font,keyboard-select,fullscreen

URxvt.matcher.launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! resize-font config
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.resize-font.step: 2

! fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

! keyboard-select config

URxvt.keysym.M-Escape: keyboard-select:activate
URxvt.keysym.M-s: keyboard-select:search
URxvt.keyboard-select.clipboard: true

! colors
*.foreground:  #d0d0d0
*.background:  #151515
*.cursorColor:  #d0d0d0
! black
*.color0:      #000000
*.color8:      #808080
! red
*.color1:      #ff0000
*.color9:      #ff0000
! green
*.color2:      #33ff00
*.color10:     #33ff00
! yellow
*.color3:      #ff0099
*.color11:     #ff0099
! blue
*.color4:      #0066ff
*.color12:     #0066ff
! magenta
*.color5:      #cc00ff
*.color13:     #cc00ff
! cyan
*.color6:      #00ffff
*.color14:     #00ffff
! white
*.color7:      #d0d0d0
*.color15:     #ffffff

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false
URxvt*transparent:       false

*antialias:  true
*autohint:   false
